@use '../../var' as var;
@use '../../var/grid' as grid;
@use '../../function/space' as space;
@use '../../mixin/limit-text-line' as limit-text-line;

//===============================================
// home section
//===============================================
.home-section {}

//===============================================
// home block
//===============================================
.home-block {
  &__product-wrap {
    display: grid;
    grid-template-columns: 288px;
    grid-row-gap: space.get-space-from-base(10);
    justify-content: center;

    @media screen and (min-width: grid.$mz-grid-xxs-min) {
      max-width: 480px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: space.get-space-from-base(10);
      grid-column-gap: space.get-space-from-base(8);
    }

    @media screen and (min-width: grid.$mz-grid-sm-min) {
      max-width: grid.$mz-grid-sm-min;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: grid.$mz-grid-lg-min) {
      max-width: 100%;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__item {
      cursor: pointer;
      padding: space.get-space-from-base(6);
      background: #ffffff;
      box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
      -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
      -moz-box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
      border-radius: 8px;

      &__head {
        padding: space.get-space-from-base(8);
        margin-bottom: space.get-space-from-base(2);
      }

      &__logo {
        position: relative;
        width: 100%;

        &:before {
          content: '';
          display: block;
          width: 100%;
          padding-bottom: 100%;
        }
      }

      &__logo-inner {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
      }

      &__logo-img {
        max-height: 90%;
        max-width: 90%;
      }

      &__main-title {
        font-size: 2.25rem;
        font-weight: 600;
        margin-bottom: space.get-space-from-base(2);

        @media screen and (min-width: grid.$mz-grid-lg-min) {
          font-size: 2.5rem;
          margin-bottom: space.get-space-from-base(4);
        }
      }

      &__sub-title {
        margin-bottom: space.get-space-from-base(2);
        @include limit-text-line.mz-limit-text-line(var.$font-size-default, 1);
      }

      &__desc {
        @include limit-text-line.mz-limit-text-line(var.$font-size-default, 3);
        font-style: italic;
      }
    } // &__item
  } // &__product-wrap
} // .home-block
