//====================================
// home-page
//====================================
.home-page {
  position: relative;
  background: #fdfdfd;
  padding-bottom: 90px;
  min-height: calc(100% - 90px);
}
