@use 'sass:map';
@use 'var' as var;
@use 'function/space' as space;
//===============================================
// .header-section
//===============================================
.header-section {
  position: relative;
  z-index: 0;
  margin-bottom: space.get-space-from-base(43);

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: map.get(var.$color-map, 'gulp');
  }
}

//===============================================
// .header-block
//===============================================
.header-block {
  height: 150px;

  &__head {
    position: relative;
  } // .header-block__head

  &__logo-shape {
    position: absolute;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 70px;
    margin: 0 auto;
    border: 3px solid map.get(var.$color-map, 'gulp');
    background: #ffffff;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
  }

  &__logo-shape-inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__logo-img {
    max-width: 80%;
    max-height: 80%;
  }
} // .header-block
